.formSt {
  -webkit-box-shadow: 0 0 15px #15bdee;
  box-shadow: 0 0 15px #15bdee;
  margin: 50px auto;
  padding: 25px;
  border-radius: 15px;
  width: 70%;
}
.inptSt {
  border: 1px solid #384158;
  border-radius: 8px;
}

.inptSt:focus {
  box-shadow: none;
}
label {
  color: #384158;
  font-weight: bold;
}
